*{margin: 0;padding: 0;font-family: Arial, Helvetica, sans-serif;}
:root{
    --primary-blue:rgb(0, 0, 167);
    --secondary-blue:rgb(0, 0, 97);
    --border-radius-1:10px;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.btn{
    background-color: var(--primary-blue);
    color: white;
    border: none;
    font-size: 1.2rem;
    padding: 10px 30px;
    border-radius: 40px;
    cursor: pointer;
}
.btn:hover{
    background-color: var(--secondary-blue);
}


/* Landing Page Start */
.banner{
    background-color: rgb(44, 44, 255);
    padding: 50px 0px;
}
.banner nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner nav>.logo>.logo-img{
    width: 150px;
}
.banner nav>.logo>.nav-icon{
    display: none;
}
.banner nav>.menus>.menu{
    display: inline-block;
    margin-left: 50px;
    padding: 10px 20px;
    border-radius: 5px;
}
.banner nav>.menus>.menu:hover{
    background-color: var(--primary-blue);
}
.banner nav>.menus>.menu>.menu-link{
    text-decoration: none;
    color: white;
}

.banner-content{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.banner-content>.banner-text{
    color: white;
}
.banner-content>.banner-text>h1{
    font-size: 4em;
    
}
.banner-content>.banner-text>*:not(.btn){
    margin-bottom: 40px;
}
.banner-content>*{
    width: 50%;
}
.banner-content>.banner-img{
    border-radius: var(--border-radius-1);
    height: 450px;
    width: 450px;
    object-fit: cover;
    object-position: right;
}
/* Landing Page End */
